cuda-old.sh
defaults-cms.sh
defaults-x86_64.sh
demo.sh
sbsa.sh
data/__pycache__
pypi/__pycache__/packages.cpython-39.pyc
defaults-cms.sh
pypi/__pycache__/packages.cpython-39.pyc
flash.sh
temp.txt
build_all.sh
build_results.txt
.pip.sh.swp
cms-log
envflags.yaml
scram-tools/
*.swp
*.swo
*.pyc
compilation_flags_lto.sh
compilation_flags_pgo1.sh
compilation_flags_pgo.sh
compilation_flags.sh
cuda-flags.sh
microarch-flag.sh
rocm-flags.sh
scram-tools-flag.sh
toolflags.sh
