cuda-old.sh
defaults-cms.sh
defaults-x86_64.sh
rocm.sh
sbsa.sh
pypi/__pycache__/packages.cpython-39.pyc
defaults-cms.sh
pypi/__pycache__/packages.cpython-39.pyc
flash.sh
temp.txt
build_all.sh
build_results.txt
.pip.sh.swp
cms-log
envflags.yaml
